$primary: #6f42c1;
$body-bg: #0e0e10;
$mid-gray: #808080;

@import "~bootstrap/scss/bootstrap.scss";
@import "~bootstrap-icons/font/bootstrap-icons.css";

.vertical-line {
  white-space: pre-wrap;
  border-left: 1px solid $mid-gray;
  margin: 0 4px;
}

.edit-pane {
  background: $mid-gray;
}

#canvas {
  min-height: 250px;
}

.slider {
  opacity: 0.7;
  transition: 0.2s;
  -webkit-transition: opacity 0.2s;
  cursor: pointer;
}

.hover:hover .slider {
  opacity: 1;
}

.btn:focus:not(:focus-visible) {
  box-shadow: none;
}

// Visually set inactive but focused presets to default
.btn:focus-within:not(.active):not(:hover) {
  background-color: $primary;
  border-color: $primary;
}

#filterList label {
  text-transform: capitalize;
}
