$primary: #6f42c1;
$body-bg: #0e0e10;
$mid-gray: #808080;
$form-range-track-bg: #a5a9ad;
$form-range-track-hover: #DEE2E6;

@import "~bootstrap/scss/bootstrap.scss";
@import "~bootstrap-icons/font/bootstrap-icons.css";

.vertical-line {
  white-space: pre-wrap;
  border-left: 1px solid $mid-gray;
  margin: 0 4px;
}

.edit-pane {
  background: $mid-gray;
}

#canvas {
  min-height: 250px;
}

.slider {
  cursor: pointer;
}

// I'm sorry this is crazy...
// On hover of each row, select the 1st div's 1st child (input range)
// And change the color of the range track
.hover:hover div:nth-of-type(1) :first-child::-moz-range-track {
  background-color: $form-range-track-hover;
}

.hover:hover div:nth-of-type(1) :first-child::-webkit-slider-runnable-track {
  background-color: $form-range-track-hover;
}

.hover:hover div:nth-of-type(1) :first-child::-ms-track {
  background-color: $form-range-track-hover;
}

.slider::-moz-range-track {
  transition: background-color 0.2s;
}

.slider::-webkit-slider-runnable-track {
  transition: background-color 0.2s;
}

.slider::-ms-track {
  transition: background-color 0.2s;
}


.reset {
  background-color: #212529;
  cursor: default;
  transition: background-color 0.2s;
  -webkit-transition: background-color 0.2s;
}

.reset:hover {
  background-color: #6c757d;
  transition: background-color 0.2s;
  -webkit-transition: background-color 0.2s;
}

.btn:focus:not(:focus-visible) {
  box-shadow: none;
}

#filterList button:focus:focus-visible {
  box-shadow: none;
}

// Visually set inactive but focused presets to default
.preset.btn:focus-within:not(.active):not(:hover) {
  background-color: $primary;
  border-color: $primary;
}
